body {
  justify-content: center;
  background-color: aqua;
}

h1 {
  background-color: greenyellow;
  text-align: center;
}

p, a {
  text-align: center;
  font-size: 32px;
}

.container {
  text-align: center; /* Center the image horizontally */
}
img {
  display: inline-block; /* Ensure the image behaves as an inline element */
  height: 200px;
  width: 300px;
}

.section {
    font-size: 20;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}